--allman false
--binarygrouping none
--closingparen balanced
--commas always
--comments indent
--decimalgrouping none
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--header ignore
--hexgrouping none
--hexliteralcase uppercase
--ifdef indent
--importgrouping alphabetized
--indent 4
--indentcase false
--linebreaks lf
--octalgrouping none
--operatorfunc spaced
--patternlet inline
--ranges nospace
--self insert
--semicolons inline
--stripunusedargs closure-only
--trimwhitespace nonblank-lines
--wraparguments preserve
--wrapcollections beforefirst
