trigger:
- master

pr:
- master

jobs:
- job: lint
  pool:
    vmImage: 'macos-latest'
  steps:
  - bash: ./lint.sh
- job: pod
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./pod.sh
- job: test_xcodebuild_10_0
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_10
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=12.0,name=iPhone SE'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=12.0,name=Apple TV 4K'
- job: test_xcodebuild_10_1
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_10.1
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=12.1,name=iPhone SE'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=12.1,name=Apple TV 4K'
- job: test_xcodebuild_10_2
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_10.2.1
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=12.2,name=iPhone SE'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=12.2,name=Apple TV 4K'
- job: test_xcodebuild_10_3
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_10.3
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=12.4,name=iPhone SE'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=12.4,name=Apple TV 4K'

- job: test_swiftpm
  pool:
    vmImage: 'macOS-10.15'
  steps:
  - script: ./test_swiftpm.sh
- job: test_linux_5_0
  pool:
    vmImage: 'Ubuntu 18.04'
  container: norionomura/swift:503
  steps:
  - script: ./test_swiftpm.sh
- job: test_linux_5_1
  pool:
    vmImage: 'Ubuntu 18.04'
  container: norionomura/swift:515
  steps:
  - script: ./test_swiftpm.sh
- job: test_linux_5_2
  pool:
    vmImage: 'Ubuntu 18.04'
  container: norionomura/swift:521
  steps:
  - script: ./test_swiftpm.sh

