trigger:
  - main

pr:
  - main

jobs:
  - job: test_swiftpm
    pool:
      vmImage: "macOS-10.15"
    steps:
      - script: ./test_swiftpm.sh
  - job: test_linux_5_1
    pool:
      vmImage: "Ubuntu 20.04"
    container: swift:5.1.5
    steps:
      - script: ./test_swiftpm.sh
  - job: test_linux_5_2
    pool:
      vmImage: "Ubuntu 20.04"
    container: swift:5.2.1
    steps:
      - script: ./test_swiftpm.sh
  - job: test_linux_5_3
    pool:
      vmImage: "Ubuntu 20.04"
    container: swift:5.3.2
    steps:
      - script: ./test_swiftpm.sh
